.hednged{
    text-align: left;
    font: normal normal bold 22px/26px Arial;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    margin: 0px 0px 20px;
}
.hedngead{
    text-align: left;
    font: normal normal bold 19px/22px Arial;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    margin: 0px 0px 0px;
}
.has-search{
    width:80%;
}
.btndfd{
    text-align: left;
    font: normal normal bold 13px/15px Arial;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    border: none;
    background: transparent;
}
.color-dd{
    color: #D5353F;
    font-size: 20px;
    width: 16%;
    text-align: right;
}
.input-filesss input[type="file"] { 
    z-index: -1;
    position: absolute;
    opacity: 0;
}
  
.input-filesss input:focus + label {
outline: 0px solid;
}
.btnss {
    background: transparent linear-gradient(248deg, #FDEACC 0%, #D5353F 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 10px #00000036;
    border-radius: 10px;
    padding: 8px 20px;
    font: normal normal bold 18px/26px Arial !important;
    letter-spacing: 0px;
    color: #FFFFFF !important;
    opacity: 1;
    width: 100%;
    border: none;
  }
  .btnss i{
    font-size: 30px;
    margin-right: 0px;
    width:27%;
    display: inline-block;
    vertical-align: top;
    margin-top: 19px;
  }
  .btnss span{
    width: 72%;
    display: inline-block;
  }
  .sidebar::after, .off-canvas-sidebar::after {
    background: #323759;
    background: #323759;
    z-index: 3;
  }
  .box-dash{
    background: #323759 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 10px #00000029;
    opacity: 1;
    width:100%;
    height: auto;
    padding: 20px;
  }
  .icondd{
    width: 38px;
    height: 49px;
    display: inline-block;
    margin-right: 25px;
    vertical-align: top;
  }
  .box-conrt h3{
    text-align: left;
    font: normal normal bold 18px/21px Arial;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    display: block;
    margin: 0;
  }
  .box-conrt h4{
    text-align: left;
    font: normal normal bold 35px/40px Arial;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    display: block;
    margin: 0;
  }
  .box-conrt{
    width: 65%;
    display: inline-block;
  }
  .quereszzz h1{
    text-align: left;
    font: normal normal bold 53px/61px Arial;
    letter-spacing: 0px;
    color: #484847;
    opacity: 1;
  }
  .box-conrt2 h3{
    text-align: left;
    font: normal normal bold 16px/21px Arial;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    display: block;
    margin: 0;
  }
  .box-conrt2 h4{
    text-align: left;
    font: normal normal bold 18px/23px Arial;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    display: block;
    margin: 0;
  }
  .box-conrt2{
    width: 66%;
    display: inline-block;
  }
  .icondd2{
    width: 38px;
    height: 49px;
    display: inline-block;
    margin-right: 15px;
    vertical-align: top;
  }
  .survey-wrapper{
    background: linear-gradient(rgba(190, 24, 30, 0.82) 0%, rgba(189, 27, 37, 0.92) 88.48%, #bd1b26 100%);
    width: 100%;
    height: 100vh;
    display: inline-block;
  }
  .survey-wrapper::before{
    content: '';
    /* background: url(../img/bg55.svg); */
    position: absolute;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position: top center;
  }
  .survey-container{
    padding: 40px 65px;
    width: 100%;
    display: inline-block;
  }
  .mt-55{
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .mt-55 h1{
    text-align: left;
    font: normal normal 600 40px/53px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin: 0;
  }
  .mt-55 p{
    text-align: left;
    font: normal normal normal 25px/33px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
  }
  .survey-btn{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #585757BA;
    border-radius: 10px;
    opacity: 1;
    text-align: left;
    font: normal normal bold 30px/40px Segoe UI;
    letter-spacing: 0px;
    color: #BD1B26;
    opacity: 1;
    padding: 10px 17px;
    width: 100%;
    margin-bottom: 20px;
  }
  .survey-wrapper h6{
    text-align: left;
    font: normal normal normal 25px/33px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
  }
  .login-wrapper{
    width: 100%;
    height: 100vh;
    display: inline-block;
    background-position: top center;
    background-size: cover;
  }
  .bg-colgum{
      position: absolute;
      top: 0;
      height: 120%;
      width: 100%;
      object-fit: cover;
      object-position: bottom;
  }
  .limiter {
    width: 100%;
    margin: 0 auto;
  }
  
  .container-login100 {
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    
    background-color: #ebebeb;
  }
  
  
  .wrap-login100 {
    width: 560px;
    background: rgba(0, 0, 0, 0.52);
    border-radius: 10px;
    position: relative;
  }
  
  
  /*==================================================================
  [ Form ]*/
  
  .login100-form {
    width: 100%;
  }
  
  .login100-form-title {
    font-family: Raleway-Medium;
    font-size: 30px;
    color: #555555;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: left;
  
    width: 100%;
    display: block;
  }
  
  
  
  /*------------------------------------------------------------------
  [ Input ]*/
  
  .wrap-input100 {
    width: 100%;
    position: relative;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 2px;
  }
  
  
  /*---------------------------------------------*/
  .input100 {
    font-family: Raleway-Medium;
    color: #555555;
    line-height: 1.2;
    font-size: 18px;
  
    display: block;
    width: 100%;
    background: transparent;
    height: 55px;
    padding: 0 25px 0 25px;
  }
  /*------------------------------------------------------------------
  [ Focus Input ]*/
  
  .focus-input100 {
    position: absolute;
    display: block;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    top: -1px;
    left: -1px;
    pointer-events: none;
    border: 1px solid #57b846;
    border-radius: 3px;
  
    visibility: hidden;
    opacity: 0;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  
    -webkit-transform: scaleX(1.1) scaleY(1.3);
    -moz-transform: scaleX(1.1) scaleY(1.3);
    -ms-transform: scaleX(1.1) scaleY(1.3);
    -o-transform: scaleX(1.1) scaleY(1.3);
    transform: scaleX(1.1) scaleY(1.3);
  }
  
  .input100:focus + .focus-input100 {
    visibility: visible;
    opacity: 1;
  
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  
  .eff-focus-selection {
    visibility: visible;
    opacity: 1;
  
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  
  /*---------------------------------------------*/
  .btn-show-pass {
    font-size: 15px;
    color: #999999;
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    height: 100%;
    top: 0;
    right: 12px;
    padding: 0 5px;
    cursor: pointer;
    -webkit-transition: background 0.4s;
    -o-transition: background 0.4s;
    -moz-transition: background 0.4s;
    transition: background 0.4s;
  }
  
  .btn-show-pass:hover {
    color: #57b846;
  }
  
  .btn-show-pass.active {
    color: #57b846;
  }
  
  /*==================================================================
  [ Restyle Checkbox ]*/
  
  .input-checkbox100 {
    display: none;
  }
  
  .label-checkbox100 {
    font-family: Raleway-Regular;
    font-size: 13px;
    color: #999999;
    line-height: 1.4;
  
    display: block;
    position: relative;
    padding-left: 26px;
    cursor: pointer;
  }
  
  .label-checkbox100::before {
    content: "\f00c";
    font-family: FontAwesome;
    font-size: 13px;
    color: transparent;
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 2px;
    background: #fff;
    border: 1px solid #e6e6e6;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .input-checkbox100:checked + .label-checkbox100::before {
    color: #57b846;
  }
  
  
  /*------------------------------------------------------------------
  [ Button ]*/
  .container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
  }
  
  .login100-form-btn {
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    min-width: 150px;
    height: auto;
    background-color: #D5353F;
    border-radius: 0px;
    border:none;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  .login100-form-btn2 {
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    min-width: 150px;
    height: auto;
    background-color: rgb(34, 32, 32);
    border-radius: 0px;
    border:none;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  .vvff{
    border-left: 3px solid #fff;
    padding-right: 20px;
    display: inline-block;
    margin-left: 20px;
  }
  
  
  /*------------------------------------------------------------------
  [ Alert validate ]*/
  
  .validate-input {
    position: relative;
  }
  
  .alert-validate .btn-show-pass {
    visibility: hidden;
  }
  
  .alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: #fff;
    border: 1px solid #c80000;
    border-radius: 3px;
    padding: 4px 25px 5px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 12px;
    pointer-events: none;
  
    font-family: Raleway-Medium;
    color: #c80000;
    font-size: 14px;
    line-height: 1.4;
    text-align: left;
  
    visibility: hidden;
    opacity: 0;
  
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
  }
  
  .alert-validate::after {
    content: "\f12a";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 18px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 18px;
  }
  
  .alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
  }
  
  @media (max-width: 992px) {
    .alert-validate::before {
      visibility: visible;
      opacity: 1;
    }
  }
  
  
  /*//////////////////////////////////////////////////////////////////
  [ Responsive ]*/
  
  @media (max-width: 576px) {
    .wrap-login100 {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  .p-r-85 {
    padding-right: 45px;
  }
  .p-l-85 {
    padding-left: 45px;
  }
  .p-b-55 {
    padding-bottom: 35px;
  }
  .p-t-55 {
    padding-top: 35px;
  } 
  .input-container {
    display: -ms-flexbox; /* IE10 */
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
  }
  
  .icon {
    padding: 13px 10px;
    background: white;
    color: #ccc;
    min-width: 50px;
    text-align: center;
    display: inline;
  }
  .hrftyu{
    margin-left: -3px;
    padding: 11px !important;
  }
  .input-container .text-danger{
      font-weight: bold !important;
      margin-top: 10px;
     }
  .input-field {
    width: 91%;
    padding: 10px;
    outline: none;
    border: none;
    text-align: left;
    font: normal normal bold 16px/18px Arial;
    letter-spacing: 0px;
    color: #323759;
    display: inline;
  }
  .checkboxes-and-radios {
    margin: 0;
    width: auto;
    display: inline-block;
  }
  .checkboxes-and-radios input {
    display: none;
  }
  .checkboxes-and-radios label {
    cursor: pointer;
    padding-right: 0px;
    position: relative;
    display: inline-block;
    font-size: 18px;
    font: normal normal bold 16px/18px Arial;
    padding: 15px 20px 15px 55px;
    color:#fff;
  }
  .checkboxes-and-radios input[type="checkbox"],
  .checkboxes-and-radios input[type="radio"] {
    position: absolute;
    visibility: hidden !important;
  }
  .checkboxes-and-radios input[type="checkbox"] + label:before,
  .checkboxes-and-radios input[type="radio"] + label:before,
  .checkboxes-and-radios input[type="checkbox"] + label:after,
  .checkboxes-and-radios input[type="radio"] + label:after {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -7.5px;
    box-sizing: border-box;
  }
  .checkboxes-and-radios input[type="checkbox"] + label:before,
  .checkboxes-and-radios input[type="radio"] + label:before {
    width: 40px;
    height: 15px;
    left: 0px;
    background: #fff;
    border: 1px solid #e4e3e1;
    border-radius: 15px;
  }
  .checkboxes-and-radios input[type="checkbox"] + label:after,
  .checkboxes-and-radios input[type="radio"] + label:after {
    width: 20px;
    height: 20px;
    left: 21px;
    background: #D5353F;
    border-radius: 50%;
    transition: all 200ms ease-out;
    top: 21px;
  }
  .checkboxes-and-radios input[type="checkbox"]:checked + label:after,
  .checkboxes-and-radios input[type="radio"]:checked + label:after {
    left: 0px;
    background: #323759 ;
  }
  .txt3{
    text-align: left;
    font: normal normal bold 18px/24px Arial;
    letter-spacing: 0px;
    color: #D5353F;
    opacity: 1;
    border-left: 3px solid #fff;
    padding-left: 20px;
  }
  .survey-start{
    background: white;
    width: 100%;
    display: inline-block;
    height: auto;
    padding: 50px 65px;
  }
  .mt-56{
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .survey-start h1{
    text-align: center;
    font: normal normal 600 38px/67px Segoe UI;
    letter-spacing: 0px;
    color: #4B4142;
    opacity: 1;

  }
  .survey-start h6{
    text-align: left;
    font: normal normal normal 40px/53px Segoe UI;
    letter-spacing: 0px;
    color: #4B4142;
    opacity: 1;
    text-transform: inherit;
  }
  .br-77{
    height: 7px;
    background: transparent linear-gradient(93deg, #BD1B26 0%, #BD1B2661 100%) 0% 0% no-repeat padding-box;
    width: 100%;
    margin-bottom: 86px;
  }
  .question-box{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 5px;
    width: 100%;
    height: auto;
    padding: 40px 50px;
    margin:0px 0px 20px;
  }
  .question-box h5{
    text-align: left;
    font: normal normal normal 40px/53px Segoe UI;
    letter-spacing: 0px;
    color: #4B4142;
    opacity: 1;
    margin-bottom: 40px;
  }
  .question-box .radio {
    margin: 2rem 0;
  }
  .question-box .radio input[type=radio] {
    position: absolute;
    opacity: 0;
  }
  .question-box .radio input[type=radio] + .radio-label:before {
    content: "";
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: 1px solid #707070;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    display: inline-block;
    position: relative;
    top: 0em;
    margin-right: 1em;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
  }
  .radio-label{
    text-align: left;
    font: normal normal normal 40px/53px Segoe UI;
    letter-spacing: 0px;
    color: #4B4142;
    opacity: 1;
  }
  .question-box .radio input[type=radio]:checked + .radio-label:before {
    background-color: #BD1B26 ;
    box-shadow: inset 0 0 0 10px #fff;
  }
  .question-box .radio input[type=radio]:focus + .radio-label:before {
    outline: none;
    border-color: #707070 ;
  }
  .question-box .radio input[type=radio]:disabled + .radio-label:before {
    box-shadow: inset 0 0 0 4px #f4f4f4;
    border-color: #b4b4b4;
    background: #b4b4b4;
  }
  .question-box .radio input[type=radio] + .radio-label:empty:before {
    margin-right: 0;
  }
  .modal-header h5{
    text-align: center;
    font: normal normal bold 53px/61px Arial;
    letter-spacing: 0px;
    color: #484847;
    opacity: 1;
    width: 100%;
  }
  .modal-dialog {
    max-width: 720px !important;
  }
  .bf-67{
    border-right: 3px solid #D8D8D8;
  }
  .navbar .navbar-collapse .nav-item:last-child a::after {
    content: '';
    border-right: 0px solid #707070;
    height: 31px;
    position: absolute;
    right: -3px;
    top: 8px;
  }
  .login100-form-btn33{
    background: transparent linear-gradient(260deg, #F1F1F1 0%, #A2A2A2 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 10px #00000036;
    border-radius: 10px;
    padding: 15px 90px;
    text-align: left;
    font: normal normal bold 16px/18px Arial;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    display: inline-block;
    border: none;
    margin-right: 20px;
    margin-bottom: 30px;
  }
  .login100-form-btn23{
    background: transparent linear-gradient(260deg, #FDEACC 0%, #D5353F 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 10px #00000036;
    border-radius: 10px;
    padding: 15px 90px;
    text-align: left;
    font: normal normal bold 16px/18px Arial;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    display: inline-block;
    border: none;
    margin-bottom: 30px;
  }
  .radiodd {
    margin: 0rem 0;
  }
  .radiodd input[type=checkbox] {
    position: absolute;
    opacity: 0;
  }
  .radiodd input[type=checkbox] + .radio-label:before {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 0%;
    border: 1px solid #707070;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    display: inline-block;
    position: relative;
    top: 0em;
    margin-right: 1em;
    vertical-align: bottom;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
  }
  .radiodd .radio-label{
    text-align: left;
    font: normal normal bold 14px/16px Arial;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
  }
  .radiodd input[type="checkbox"]:checked + .radio-label::before {
    background-color: #BD1B26;
    box-shadow: inset 0 0 0 3px #fff;
  }
  .card.card-plain .card-body {
    padding: 15px 15px 10px 15px !important;
  }
  .card.card-plain .card-body .table td, .card.card-plain .card-body .table th {
    border-top: 0px solid #dee2e6;
  }
  #date_range_slider {
    margin-top: 50px;
    width: 50%;
    display: inline-block;
  }
  
  .ui-rangeSlider .ui-rangeSlider-container {
    background: #eee;
    height: 3px;
    width: 100% !important;
  }
  .ui-rangeSlider .ui-rangeSlider-label {
    bottom: 35px;
    color: #fff;
    background: #0578c1;
    padding: 11px;
    font: bold 12px/1 arial;
  }
  .ui-rangeSlider .ui-rangeSlider-handle {
    background: #04598f;
  }
  .ui-rangeSlider .ui-rangeSlider-bar {
    background: #0578c1;
    height: 20px;
  }
  .ui-rangeSlider .ui-rangeSlider-innerBar {
    background: transparent;
    height: 20px;
  }
  .ui-rangeSlider .ui-rangeSlider-innerBar, .ui-rangeSlider .ui-rangeSlider-innerBar {
    height: 3px !important;
    margin: 3px 6px;
    background: #D8D8D8 !important;
  }
  .ui-rangeSlider .ui-rangeSlider-bar {
    margin: 3px 0 !important;
    background: #D5353F 0% 0% no-repeat padding-box !important;
    height: 3px !important;
  }
  .ui-rangeSlider .ui-rangeSlider-handle{
    width: 31px !important;
    height: 31px !important;
    background: #D5353F 0% 0% no-repeat padding-box !important;
    border-radius: 50% !important;
    top: -11px !important;
  }
  .ui-rangeSlider-arrow.ui-rangeSlider-leftArrow,  .ui-rangeSlider-arrow.ui-rangeSlider-rightArrow {
    background-image: none !important;
    background-position: center left;
  }
  .ui-rangeSlider-arrow.ui-rangeSlider-leftArrow{
    border-right: 3px solid #D8D8D8;
    opacity: 1;
    height: 22px;
    left: 1px !important;
    top: -8px !important;
  }
  .ui-rangeSlider-arrow.ui-rangeSlider-rightArrow{
    border-left: 3px solid #D8D8D8;
    opacity: 1;
    height: 22px;
    right: -21px !important;
    top: -8px !important;
  }
  .radiodd input[type=radio] {
    position: absolute;
    opacity: 0;
  }
  .radiodd input[type=radio] + .radio-label:before {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #707070;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    display: inline-block;
    position: relative;
    top: 0em;
    margin-right: 1em;
    vertical-align: bottom;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
  }
  .radiodd input[type="radio"]:checked + .radio-label::before {
    background-color: #BD1B26;
    box-shadow: inset 0 0 0 3px #fff;
  }
  .custom-button img {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 28px;
    height: 28px;
  }
  .table-neww table th {
    font: normal normal bold 18px/21px Arial;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    padding: 12px 7px;
    border-right: 0px solid #D8D8D8 !important;
  }
  .table-neww table td {
    text-align: left;
    font: normal normal bold 16px/18px Arial;
    letter-spacing: 0px;
    color: #323759;
    opacity: 1;
    vertical-align: top !important;
    border-right: 0px solid #D8D8D8;
    border-top: none;
    padding: 12px 7px;
  }
  .ggggg{
    font: normal normal bold 10px/16px Arial !important;
  }
  .htksma{
    text-align: left;
    font: normal normal bold 18px/21px Arial;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
  }
  .hdksae{
    font: normal normal bold 14px/16px Arial;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    text-align: right;
    display: block;
  }
  .rtyf{
    margin: 0px auto;
    display: block;
    width: 36%;
  }
  .quereszz .nav-tabs {
    border-bottom: 0px solid #dee2e6;
  }
  .quereszz .nav-tabs .nav-item.show .nav-link, .quereszz .nav-tabs .nav-link.active {
    color: #DC3912;
    background-color: transparent;
    border-color: transparent transparent transparent;
  }
  .quereszz .nav-tabs .nav-link:focus,  .quereszz .nav-tabs .nav-link:hover {
    border-color: transparent transparent transparent;
  }
  .quereszz .tab-content{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 10px #00000036;
    border-radius: 15px;
  }
  .quereszz .nav-tabs .nav-link {
    display: block;
    padding: .5rem .5rem;
  }
  .quereszz .nav-tabs .nav-link.active svg{
    color: #DC3912;
  }
  .custom-button2 {
    background: transparent linear-gradient(260deg, #FDEACC 0%, #D5353F 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 10px #00000036;
    border-radius: 10px;
    width: auto;
    padding: 5px 10px;
    border: none;
    font: normal normal bold 14px/16px Arial;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin: 10px 0px 10px;
    opacity: 1;
    position: relative;
  }
  .tyur img{
    height: 23px;
    width: 20px;
  }
  .tyur{
    text-align: left;
    font: normal normal bold 14px/16px Arial;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    padding-top: 7px;
    position: relative;
    top: -16px;
  }
  .tyurd{
    display: inline-block;
  }
  .tyurd label{
    margin-bottom: 0.5rem !important;
  }
  .ttttt{
    float: right !important;
    text-align: right;
    position: absolute;
    right: 26px;
  }
  .frwsghjk h5{
    text-align: left;
    font: normal normal bold 24px/28px Arial;
    letter-spacing: 0px;
    color: #323759;
    opacity: 1;
  }
  .crooss-ref h6{
    text-align: left;
    font: normal normal bold 18px/21px Arial;
    letter-spacing: 0px;
    color: #484847;
    opacity: 1;
    margin: 20px 0px;
  }

  .alert-warningss{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 10px #00000036;
    border-radius: 15px;
    opacity: 1;
    width: 60%;
    margin: 0px auto;
    display: block;
  }
  .alert .close {
    color: #000 !important;
  }
  .alert-warningss h6{
    text-align: center;
    width: 100%;
    font: normal normal bold 53px/61px Arial;
    letter-spacing: 0px;
    color: #484847;
    opacity: 1;
    text-transform: initial;
  }
  .alert-warningss.alert button.close {
    top: 22%;
  }
  .alert-dismissible {
    padding-right: 1.25rem !important;
  }
  .form-groupdd {
    display: block;
    margin-bottom: 15px;
  }
  
  .form-groupdd input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  }
  
  .form-groupdd label {
    position: relative;
    cursor: pointer;
    text-align: left;
    font: normal normal normal 30px/53px Segoe UI;
    letter-spacing: 0px;
    color: #4B4142;
  }
  
  .form-groupdd label:before {
    content:'';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #0079bf;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin-right: 20px;
  }
  
  .form-groupdd input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 12px;
    left: 17px;
    width: 15px;
    height: 28px;
    border: solid #0079bf;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  .greatForm > label, .greatForm > span {
  position: relative;
  top: 0;
  left:0;
  color: #ccc;
  font-size: 2em;
  background-color: transparent;
  font-family: Lato;
  border: 1px solid #ccc;
  padding: .3em .6em;
  border-radius: 0%;
  width: 50px;
  line-height: 1.1;
  height: 50px;
  -webkit-transition: background-color .5s, top .1s;
  transition: background-color .5s, top .1s;
}

.greatForm > input[type=radio]{
  background-color: #CC0000;
  height: 0em;
  width: 0em;
  background: none;
  opacity: 0;
}
.greatForm > input[type=radio]:checked + label,
.greatForm > input[type=radio]:checked + span {
  background-color: #323759;
  width: 50px;
  height: 50px;
  color: #fff;
}
.img-33 img {
  box-shadow: 0 0 0 10px transparent;
  transition: box-shadow 0.1s;
}
.img-33{
  padding: 10px 10px;
  border: 1px solid #ccc;
  background: #ccc;
}
.img-33 input {
  display: none;
}

.img-33 input:checked + .checfrs {
  box-shadow: 0 0 0 10px #323759;
  background: #323759 ;
  transition: box-shadow 0.11s;
  border-radius: 0;
  color: #fff;
  border: 1px solid #333;
}
.img-33 input:checked + .checfrs .img-chschs {
  color: #fff;
  border: 1px solid #fff;
}

.img-chschs{
  border: 1px solid #333;
  color: #333;
  padding: 5px;
  display: block;
  height: 50px;
  width: 50px;
  text-align: center;
  margin: 20px auto 0px;
  font: normal normal normal 20px/35px Segoe UI;
  letter-spacing: 0px;
  color: #4B4142;
}

.clacdd table {
  margin: 0;
  background-color: transparent;
  width: 295px;
  height: 325px;
  text-align: center;
  border-radius: 4px;
  display: inline-block;
}

.code-post #calculator {
  position: absolute;
  max-width: 60%;
  left: 58%;
  top: 10%;
}

.code-post input {
  outline: 0;
  position: relative;
  border: 0;
  color: #495069;
  background-color: #fff;
  border-radius: 4px;
  width: 60px;
  height: 50px;
  float: left;
  margin: 5px;
  font-size: 20px;
  border: 1px solid #333;
}

.code-post input:hover {
  border: 0 solid #000;
  color: #495069;
  background-color: #8F5FD4;
  border-radius: 4px;
  width: 60px;
  height: 50px;
  float: left;
  margin: 5px;
  font-size: 20px;
  box-shadow: 0 4px #644294;
}

.code-post input:active {
  top: 4px;
  border: 0 solid #000;
  color: #495069;
  background-color: #8F5FD4;
  border-radius: 4px;
  width: 60px;
  height: 50px;
  float: left;
  margin: 5px;
  font-size: 20px;
  box-shadow: none;
}

#answer {
  width: 270px;
  font-size: 26px;
  text-align: center;
  background-color: #F1FAEB;
  float: left;
}

#answer:hover {
  width: 270px;
  font-size: 26px;
  text-align: center;
  background-color: #F1FAEB;
  box-shadow: 0 4px rgba(0,0,0,0.2);
}

#answer:active {
  top: 5px;
  width: 270px;
  font-size: 26px;
  text-align: center;
  background-color: #F1FAEB;
  box-shadow: 0 4px rgba(0,0,0,0.2);
}

.operator {
  background-color: #f1ff92;
  position: relative;
}

.operator:hover {
  background-color: #E7F56B;
  box-shadow: 0 4px #B7C259;
}

.operator:active {
  top: 4px;
  box-shadow: none;
}

#clear {
  float: left;
  position: relative;
  display: block;
  background-color: #ff9fa8;
  margin-bottom: 15px;
  width:200px;
  height: 40px;
}

#clear:hover {
  float: left;
  display: block;
  background-color: #F297A0;
  margin-bottom: 15px;
  box-shadow: 0 4px #CC7F86;
}

#clear:active {
  float: left;
  top: 4px;
  display: block;
  background-color: #F297A0;
  margin-bottom: 15px;
  box-shadow: none;
}
.otp-input-wrapper {
  width: 240px;
  text-align: left;
  display: inline-block;
}
.otp-input-wrapper input {
  padding: 0;
  width: 264px;
  font-size: 32px;
  font-weight: 600;
  color: #3e3e3e;
  background-color: transparent;
  border: 0;
  margin-left: 12px;
  letter-spacing: 48px;
  
  font-family: sans-serif !important;
}
.otp-input-wrapper input:focus {
  box-shadow: none;
  outline: none;
}
.otp-input-wrapper svg {
  position: relative;
  display: block;
  width: 240px;
  height: 2px;
}
.question-box .form-control{
  font: normal normal normal 30px/53px Segoe UI;
  letter-spacing: 0px;
  color: #4B4142;
}